Library/Services/SRC.Library.Services.Members/Web References/MemberService/cariuyeler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UyeListesi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UyeListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UyeListesiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UyeListesiSoapIn">
    <wsdl:part name="parameters" element="tns:UyeListesi" />
  </wsdl:message>
  <wsdl:message name="UyeListesiSoapOut">
    <wsdl:part name="parameters" element="tns:UyeListesiResponse" />
  </wsdl:message>
  <wsdl:message name="UyeListesiHttpGetIn">
    <wsdl:part name="sifre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UyeListesiHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UyeListesiHttpPostIn">
    <wsdl:part name="sifre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UyeListesiHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="CariUyelerSoap">
    <wsdl:operation name="UyeListesi">
      <wsdl:input message="tns:UyeListesiSoapIn" />
      <wsdl:output message="tns:UyeListesiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CariUyelerHttpGet">
    <wsdl:operation name="UyeListesi">
      <wsdl:input message="tns:UyeListesiHttpGetIn" />
      <wsdl:output message="tns:UyeListesiHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CariUyelerHttpPost">
    <wsdl:operation name="UyeListesi">
      <wsdl:input message="tns:UyeListesiHttpPostIn" />
      <wsdl:output message="tns:UyeListesiHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CariUyelerSoap" type="tns:CariUyelerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UyeListesi">
      <soap:operation soapAction="http://tempuri.org/UyeListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CariUyelerSoap12" type="tns:CariUyelerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UyeListesi">
      <soap12:operation soapAction="http://tempuri.org/UyeListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CariUyelerHttpGet" type="tns:CariUyelerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UyeListesi">
      <http:operation location="/UyeListesi" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CariUyelerHttpPost" type="tns:CariUyelerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UyeListesi">
      <http:operation location="/UyeListesi" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CariUyeler">
    <wsdl:port name="CariUyelerSoap" binding="tns:CariUyelerSoap">
      <soap:address location="http://uyeler.immib.org.tr/cariuyeler.asmx" />
    </wsdl:port>
    <wsdl:port name="CariUyelerSoap12" binding="tns:CariUyelerSoap12">
      <soap12:address location="http://uyeler.immib.org.tr/cariuyeler.asmx" />
    </wsdl:port>
    <wsdl:port name="CariUyelerHttpGet" binding="tns:CariUyelerHttpGet">
      <http:address location="http://uyeler.immib.org.tr/cariuyeler.asmx" />
    </wsdl:port>
    <wsdl:port name="CariUyelerHttpPost" binding="tns:CariUyelerHttpPost">
      <http:address location="http://uyeler.immib.org.tr/cariuyeler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>